<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      font-size: 18px;
    }

    .container {
      width: 100%;
      color: black;


    }



    span {
      font-size: 26px;
    }

    p {
      font-size: 15px;
    }

    .last-text {
      margin: 4% 0;
    }


  </style>
</head>

<body>

  <div class="container">
    <span><b>Olá, tudo bem?</b></span>
    <p> Obrigado pelo seu interesse na nossa planilha de gestão de orçamento doméstico.
    </p>

    <p>Nela você vai encontrar tudo o que você precisa para fazer o seu planejamento
      mensal, identificar os gastos desnecessários, organizar suas contas e entender
       de que forma o seu dinheiro está sendo investido.
    </p>

      <p>
        Baixe agora <a href="https://bit.ly/3f5GJZo">(link: https://bit.ly/3f5GJZo)</a>)
        a planilha através do link abaixo e saia do vermelho!
      </p>
      <br>
      <p>Abs!</p>

      <P>Time Poupecash</P>

    </p>
  </div>
</body>

</html>